<title>Register</title>
  <br>
  <div class="row">
      <div class="container">
          <div class="login-register-form-section">
              <div class="col-md-12 text-center">
                  <h1 class="active">Register</h1>
              </div>                  
              <form [formGroup] = "registacijaForm" (ngSubmit)="edit()">
                      <div class="form-group ">
                          <div class="input-group">
                              <div class="input-group-addon"><i class="fa fa-user"></i></div>
                              <input type="text" formControlName="username" class="form-control" placeholder="Username" required="required" value="[username]">
                          </div>
                      </div>
                      <div class="form-group ">
                          <div class="input-group">
                              <div class="input-group-addon"><i class="fa fa-male"></i></div>
                              <input type="text" formControlName="firstName" class="form-control" placeholder="First name" required="required" value="[firstName]">
                          </div>
                      </div>
                      <div class="form-group ">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-male"></i></div>
                            <input type="text" formControlName="lastName" class="form-control" placeholder="Last name" required="required" value="[lastName]">
                        </div>
					</div>
					<div class="form-group ">
							<div class="input-group">
								<div class="input-group-addon"><i class="fa fa-info"></i></div>
								<select formControlName="tip" class="form-control" placeholder="Type" required="required" value="[tip]">
										<option value="putnik">Putnik</option>
										<option value="kontrolor">Kontrolor</option>
										<option value="admin">Admin</option>									
									  </select>
							</div>
						</div>
						<!-- <div class="form-group">
								<label>
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<label for="userTypeSelect">User type:</label>
									<select id="userTypeSelect" class="form-control" required ngModel name="userType" #userType="ngModel" >
										<option *ngFor="let t of types; let i = index" [value]="i"> {{ t }}</option>               
								  	</select>
								</label>
							</div> -->
                      <div class="form-group ">
                          <div class="input-group">
                              <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                              <input type="email" formControlName="email" class="form-control" placeholder="Email" required="required" value="[email]">
                          </div>
                      </div>
                      <div class="form-group ">
                          <div class="input-group">
                              <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                              <input type="password" formControlName="password"  class="form-control" placeholder="Password" required="required" value="[password]">
                          </div>
                      </div>
                      <div class="form-group ">
                          <div class="input-group">
                              <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                              <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password" required="required" value="[confirmPassword]">
                          </div>
                      </div>
                      <div class="form-group ">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></div>
                            <input type="date" formControlName="date"  class="form-control" placeholder="Date" required="required" value="[date]">
                        </div>
                    </div>
                      <input type="submit" value="Register" class="btn btn-success btn-custom">
                </form>
          </div>
      </div>
  </div>
