<!doctype html>
<html>
<head>
    <title>Register</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
  <br>
  <div class="row">
      <div class="container">
          <div class="login-register-form-section">
              <div class="col-md-12 text-center">
                  <h1 class="active">Register</h1>
              </div>                  
                  <form class="form-horizontal" method="post" action="">
                      <div class="form-group ">
                          <div class="input-group">
                              <div class="input-group-addon"><i class="fa fa-user"></i></div>
                              <input type="text" name="register_username" class="form-control" placeholder="Username" required="required" value="">
                          </div>
                      </div>
                      <div class="form-group ">
                          <div class="input-group">
                              <div class="input-group-addon"><i class="fa fa-male"></i></div>
                              <input type="text" name="register_fullname" class="form-control" placeholder="Full name" required="required" value="">
                          </div>
                      </div>
                      <div class="form-group ">
                          <div class="input-group">
                              <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                              <input type="email" name="register_email" class="form-control" placeholder="Email" required="required" value="">
                          </div>
                      </div>
                      <div class="form-group ">
                          <div class="input-group">
                              <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                              <input type="password" name="register_password" class="form-control" placeholder="Password" required="required">
                          </div>
                      </div>
                      <div class="form-group ">
                          <div class="input-group">
                              <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                              <input type="password" name="register_cpassword" class="form-control" placeholder="Confirm Password" required="required">
                          </div>
                      </div>
                      <input type="submit" value="Register" class="btn btn-success btn-custom">
                </form>
          </div>
      </div>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>