&nbsp;  &nbsp; &nbsp; &nbsp;
&nbsp;  &nbsp; &nbsp; &nbsp;
&nbsp;  &nbsp; &nbsp; &nbsp;
&nbsp;  &nbsp; &nbsp; &nbsp;
<img src="assets/home.png" width = "850" height="350">
<a href="/timetable-station" >
    <img src="assets/timetable.jpg" width = "250" height="350"/>
    </a>
    <br>
    &nbsp;  &nbsp; &nbsp; &nbsp;
    &nbsp;  &nbsp; &nbsp; &nbsp;
    &nbsp;  &nbsp; &nbsp; &nbsp;
    &nbsp;  &nbsp; &nbsp; &nbsp;
    <a href="/pricelist">
        <img src="assets/bus-station.jpg" width="250" height="350" />
        </a>
        <img src="assets/about-us.png" width="600" height="350" />
        <a href="/driving-lines" >
            <img src="assets/bus-maps.jpg" width = "250" height="350"/>
        </a>
        <br>
<!-- <div class="main-login main-center">
<label> <h3>ABOUT US</h3> </label>

        <p> <b>GSP Novi Sad</b> is focused on improvement of   its urban, suburban and intercity transportation services, by a number   of long-term preferences. The aim is to achieve a high quality of our   services, so the company could be recognized as leading transportation   company in region.   The company performs the following activities: </p>
        <b>Transportation of passengers in city traffic</b>
        <ul>
          <li> urban and suburban bus transportation of passengers according to defined timetables </li>
          <li> Intercity bus transportation of passengers according to defined timetables </li>
          <li> Transport of passengers by buses on request from physical and legal persons (contractual and free rides) </li>
        </ul>
        <b>Services in the road traffic</b>
        <ul>
          <li> providing services to the passengers and transport companies on the intercity bus station in Novi Sad </li>
        </ul>
        <b>Maintenance and repairing of motor vehicles</b>
        <ul>
          <li> maintenance and repairing of motor vehicles </li>
          <li> repairing of tachographs </li>
          <li> advertising on our buses </li>
        </ul>
</div> -->