<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">JGSP NoviSad</a>
      </div>
      <ul class="nav navbar-nav">
          <li><a class="active" class="nav-item nav-link" routerLink="/home" href="#"><span class="fa fa-home"></span>Home</a></li>
        </ul>
        <ul class="nav navbar-nav">
          <li><a class="nav-item nav-link" routerLink="/timetable-station"  href="#"><span class="glyphicon glyphicon-calendar"></span> Timetable Station</a></li>
        </ul>
        <ul class="nav navbar-nav">
          <li><a class="nav-item nav-link" routerLink="/tickets"  href="#"><span class="fa fa-ticket"></span> Tickets</a></li>
        </ul>
        <ul class="nav navbar-nav">
          <li><a class="nav-item nav-link" routerLink="/driving-lines" href="#"><span class="fa fa-bus"></span> Driving Lines</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
          <li><a class="nav-item nav-link"routerLink="/login" href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>       
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="nav-item nav-link" routerLink="/registration" href="#"><span class="glyphicon glyphicon-user"></span> Register</a></li>    
          </ul>
    </div>
  </nav>