<div class="main-login main-center">
  <h3 class="text-center text-info">PRICELIST</h3>
<br/>
<!--forma--> 
<form name='ceneform' action='/cenovnik' method='post'>         

       <table width=100%>
           <tr>
              <label>
                <td width=210>
                    <span class=lightblue-box-label>Ticket type:</span>
                </td>
                </label>
                <td>
                    <select class=selectbox onchange=submitter(1); name=tip width='100%'> 
                    <option value='cened' selected >Daily ticket</option>
                    <option value='cenet'>Time ticket</option>
                    <option value='cenem'>Monhtly ticket</option>
                    <option value='ceneg'>Year ticket</option>
                    </select>
                </td>    
           </tr>
           <tr>
               <label>
                <td>
                    <span class=lightblue-box-label>
                        Kinds of tickets:  <br/> 
                    </span>
                </td>
                </label>
                <td valign=top>
                                <select WIDTH='100%'  name='vrsta[]' MULTIPLE SIZE='5' class=listbox>
                                                                        <option value='DNEVNA KARTA'  > 
                                     KARTA
                                </option>
                                                                        <option value='GODI&Scaron;NJA KARTA'  > 
                                    GODI&Scaron;NJA KARTA
                                </option>
                                                                        <option value='GODI&Scaron;NJA KARTA ZA UČENIKE DO 10 GODINA STAROSTI'  > 
                                    GODI&Scaron;NJA KARTA ZA UČENIKE DO 10 GODINA STAROSTI
                                </option>
                                                                        <option value='KARTA U VOZILU'  > 
                                    KARTA U VOZILU
                                </option>
                                                                        <option value='MESEČNA ĐAČKA'  > 
                                    MESEČNA ĐAČKA
                                </option>
                                                                </select>
                                                                                    
                </td>
           </tr>
           <tr>
            <td></td>
            <td align=right>     		
                <input type='submit' id=blue-button value='Show'/>
            </td>
            </tr>
        </table>
                                
</form>
<label>
<p>
      Note: Children under 6 years do not pay for ticket        
</p>    
</label>                     
</div>